h1 {
  font-size: 2em;
}

.logo {
  text-align: center;
  margin: 25px;
}

.power-desc {
  padding: 5px;
  margin: 25px;
  border: 5px #F26532 solid;
}

.container-a {
  display: inline-block;
}

.user-input {
  padding: 5px;
  margin: 25px;
  border: 5px #F26532 solid;
  display: inline-block;
  width: 35%;
}

.returns {
  padding: 5px;
  margin: 25px;
  border: 5px #F26532 solid;
  display: inline-block;
  width: 50%;
  float: right;
}

.data-log {
  margin: 15px;
  border: 5px #F26532 solid;
}

/* ==============================================================*/

@media screen and (max-width: 920px) {


}

@media screen and (max-width: 450px) {


}
