h1 {
  font-size: 2em;
}

.center {
  text-align: center;
  margin: 0px auto;
  width: 400px;
}

.container {
  margin: 15px;
  padding: 10px;
  border: 2px red solid;
}

.small {
  width: 400px;
}

/* ==============================================================*/

@media screen and (max-width: 920px) {


}

@media screen and (max-width: 450px) {


}
