.logo {

}

.power-desc {
  margin: 15px;
  border: 5px #F26532 solid;
}

.container-a {
  
}

.user-input {
  margin: 15px;
  border: 5px #F26532 solid;
  display: inline-block;
}

.returns {
  margin: 15px;
  border: 5px #F26532 solid;
  display: inline-block;
  float: right;
}

.data-log {
  margin: 15px;
  border: 5px #F26532 solid;
}

/* ==============================================================*/

@media screen and (max-width: 920px) {
  .logo {
    width: 450px;
    margin: 0px auto;
  }

}

@media screen and (max-width: 450px) {
  .logo {
    width: 100%;
    margin: 0px auto;
  }

}
